@import "tailwindcss";

@theme {
  --font-serif-title: 'Bodoni Moda Variable', 'sans-serif';
  --font-serif: 'Aleo Variable', 'sans-serif';
  --font-sans-serif: 'Roboto Variable', 'sans-serif';
}

@layer base {
  .bg-noise {
    background-image: url('/noise.png');
    background-repeat: repeat;
  }

  h2 {
    @apply font-serif font-bold text-3xl;
  }

  h3 {
    @apply font-serif font-[600] text-xl;
  }

  h4 {
    @apply font-serif text-lg;
  }

  time, .time-range {
    @apply font-sans-serif text-sm text-[#444];
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th {
    text-align: left;
    @apply font-bold border-b-1 border-black;
  }

  th, td {
    @apply px-1 py-0.5;
  }
}

@utility separator-vertical {
  width: 1px;
  height: 100%;
  background-color: black;
}

@utility separator-horizontal {
  width: 100%;
  height: 1px;
  background-color: black;
}