---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import NewsPaperImage from '../components/NewsPaperImage.astro';
import Sudoku from '../components/Sudoku.astro';
import Layout from '../layouts/Layout.astro';
import Coupon from '../components/Coupon.astro';
import CouponView from '../components/CouponView.astro';
import "atropos/css";
---

<Layout>
    <Header links={[
        { text: 'About', href: '#about' },
        { text: 'Experience', href: '#experience' },
        { text: 'Contact', href: '#contact' }
    ]}></Header>
    <main class="min-h-screen max-w-6xl m-auto py-10 flex flex-col gap-10 px-6">
        <section class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <NewsPaperImage class='w-full aspect-square' src="/christian.png" alt="Newspaper" caption='Christian Duarte at Michin Aquarium in Guadalajara' alt="Christian posing next to shark teeth at an aquarium"></NewsPaperImage> 
            <div>
                <h2 class="pb-1">About me...</h2>
                <p>Hi! I'm Christian Duarte, a software engineer from Mexico. I recently graduated from college but I've been working as a web developer at <a href="https://toronjalab.com">Toronja Lab</a> for a few years now, where I help with the development of a Laboratory Information System (LIS) as well as with many other projects.</p>
                <p>I've always loved maths and logical thinking, I've been programming for around 11 years now (just after I finished elementary school), I also got into electronics when I was in middle school and I do like it a lot, but I guess my passion for programming is much bigger. I love to learn new things and I'm always looking for new challenges to solve.</p> 
            </div>
        </section>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <section>
                <h2>Experience and education</h2>
                <div class="">
                    <ul class="flex flex-col list-none">
                        <li class="relative before:separator-vertical before:absolute before:left-3 before:bg-[#999] pl-8 pb-4">
                            <h3 class="leading-tight before:inline-block before:w-[9px] before:h-[9px] before:absolute before:top-[.25lh] before:left-2 before:rounded-full before:bg-[#999]">Web Developer</h3>
                            <h4 class="leading-tight">Toronja Lab</h4>
                            <time class="leading-tight" aria-label="From October 2021 to Today" datetime="2021-10-26">October 2021 - Present</time>
                            <p>I work as a web developer, making adjustments and developing new modules and features to the websites of Toronja Lab, a Laboratory Information System (LIS) that helps with the management of laboratory information. </p>
                            <p>My key responsibilities include making adjustments and developing features so that the system fulfills the needs of the clients. I also develop new modules to the system, such as an inventory management module. </p>
                            <p><b>Achievements:</b></p>
                            <ul class="list-disc list-inside">
                                <li>Helping reduce development times by automating repetitive tasks.</li>
                                <li>Reducing bandwidth consuption by properly setting up HTTP compression, improving load times by about 40%.</li>
                                <li>Reestructure the codebase to make it more maintainable and easier to understand, diminishing database queries exponentially as well as the web server's memory consuption, improving load times by about 55%.</li>
                            </ul>
                        </li>
                        <li class="relative before:separator-vertical before:absolute before:left-3 before:bg-[#999] pl-8">
                            <h3 class="leading-tight before:inline-block before:w-[9px] before:h-[9px] before:absolute before:top-[.25lh] before:left-2 before:rounded-full before:bg-[#999]">Bachelor's degree - Software Engineering</h3>
                            <h4 class="leading-tight">Universidad Autónoma de Baja California Sur</h4>
                            <span class="leading-tight time-range"><time datetime="2020-08-17">August 2020</time> - <time datetime="2024-12-21">December 2024</time></span>
                            <p><b>Achievements:</b></p>
                            <ul class="list-disc list-inside">
                                <li>I led a team of 3 and won 1<sup>st</sup> place in a programming contest held by my university for three consecutive years (2022, 2023, 2024).</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </section>
            <div class="flex flex-col  gap-2">
                <h3 class="text-xl text-center">Daily Sudoku</h3>
                <Sudoku class='w-full aspect-square' />
            </div>
        </div>
        <div class="grid-cols-12 grid gap-2 mt-10 aspect-[3/1]">
            <div class="col-span-8">
                <Coupon></Coupon>
            </div>
        </div>
    </main>
    <Footer
        links={[
            { text: 'About', href: '#about' },
            { text: 'Experience', href: '#experience' },
            { text: 'Contact', href: '#contact' }
        ]}
        socials={[
            { text: 'LinkedIn', href: 'https://www.linkedin.com/in/jose-christian-d-6b908912a/', icon: 'linked-in' },
            { text: 'GitHub', href: 'https://github.com/ChristianDuarteL', icon: 'github' },
            { text: 'Email', href: 'mailto:w.christian.duarte@outlook.com', icon: 'email' }
        ]}
    ></Footer>
    <CouponView></CouponView>
</Layout>


<style>
    footer .separator {
        width: 1px;
        height: 100%;
        background-color: black;
    }
</style>