---
interface Props {
    src: string;
    alt: string;
    caption?: string;
    class?: string;
}

const { src, alt, caption, class: className } = Astro.props;
---

<figure class="flex flex-col">
    <div class={`${className} border-1 border-[#aaa]`}>
        <img src={src} alt={alt} class="object-cover w-full h-full" />
    </div>
    {caption && <figcaption class="p-1 font-sans-serif font-[500]">{caption}</figcaption>}
</figure>
