---
import '../styles/global.css';
import '@fontsource-variable/aleo';
import '@fontsource-variable/bodoni-moda';
import '@fontsource-variable/roboto';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Christian Duarte</title>
	</head>
	<body class="font-serif bg-noise">
		<slot />
	</body>
</html>

<style>
	body {
		background-color: #e0e0e0;
	}
</style>